body {
  background-image: linear-gradient(
    to right,
    rgba(45, 109, 211, 74%),
    rgba(195, 96, 44, 61%),
    rgba(206, 193, 32, 18%)
  );
}

form {
  margin-left: 100px;
  padding-top: 20px;
}

button {
  margin-left: 60px;
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 10px;
  box-shadow: 0 5px 10px silver;
  top: 0px;
  transition: all ease 0.2s;
  position: relative;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:active{
  box-shadow: 0 3px 10px;
  top: 3px;
  outline: none;
}

input {
  border-radius: 5px;
  padding: 8px 80px;
  text-align: center;

}

input:focus{
  outline: none;
}

.city {
  color: #ecedf7;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

.temp {
  color: #ecedf7;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 50px;
  margin-top: -20px;
}

.humidity,
.wind,
.conditions {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #ecedf7;
  text-transform: capitalize;
}

.error {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #ecedf7;
}

/* input {
  border-radius: 5px;
  padding: 8px 80px;
  text-align: center;
}

.city, .temp{
  color: #ECEDF7;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 100px;
  margin-top: 20px;

}

.humidity, .wind, .conditions {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: #ECEDF7;
  text-transform: capitalize;
}

.error {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: #ECEDF7;
} */
